<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product</title>
    <link rel="stylesheet" href="./style/products.css" />
  </head>
  <body>
    <%- include('../partials/navBar.ejs') %>
  
    <div class="main">
      <div class="main1">
        <div class="ice">
          <img src="/images/icee.jpg" alt="" />
          <a href="products/ice-cream"><h1>Ice Cream</h1></a>
        </div>
        <div class="snacks">
          <img src="/images/snaccks.webp" alt="" />
          <a href="products/snacks"><h1>Snacks</h1></a>
        </div>
        <div class="meat">
          <img src="/images/choco.jpg" alt="" />
          <a href="products/chocolate"><h1>chocolate</h1></a>
        </div>
        <div class="soft">
          <img src="/images/softdri.jpg" alt="" />
          <a href="products/soft-drink"><h1>Soft Drinks</h1></a>
        </div>
        <div class="gro">
          <img src="/images/grocery.jpg" alt="" />
          <a href="products/grocery"><h1>Grocery</h1></a>
        </div>
        <div class="bev">
          <img src="/images/beverages.jpg"" alt="" />
          <a href="products/beverages"><h1>Beverages</h1></a>
    </div>
      </div>
    </div>
  </body>
</html>
